*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1{
    padding: 2rem 0;
    margin-bottom: 4rem;
    font-size: 2.5rem;
    color: white;
    background-color: #0f1111;
}

.choices{
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 4rem;
}

.choice{
    height: 165px;
    width: 165px;
}

img{
    height: 165px;
    width: 165px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid transparent;
}

img:hover{
    opacity: 85%;
    border: 3px solid black;
}

.score-board{
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin-bottom: 4rem;
}

.score-board div{
    padding: 1rem 2rem;
    border: 2px solid white;
    background-color: #0f1111;
    color: white;
}

.score-board big{
    font-size: 3rem;
}

.score-board p{
    font-size: 1.5rem;
}

#msg{
    font-size: 2rem;
    display: inline;
    background-color:rgb(92, 72, 243);
    color: white;
    padding: 0.5rem 1rem;
}